version: 2
jobs:
  build:
    docker:
      - image: circleci/node:chakracore-8.10.0
    working_directory: ~/repo
    steps:
      - run: sudo su -c 'echo "deb http://deb.debian.org/debian jessie-backports main" >> /etc/apt/sources.list'
      - run: |
          sudo rm -rf /var/lib/apt/lists/*
          sudo apt-get update
          sudo apt install -t jessie-backports  openjdk-8-jre-headless ca-certificates-java
      - checkout

      - restore_cache:
          keys:
            - deps-v1-{{ checksum "yarn.lock" }}

      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
          key: deps-v1-{{ checksum "yarn.lock" }}

      - run:
          name: Lint
          command: yarn lint
          when: always

      - run:
          name: Package functions
          command: yarn build
          when: always

      - store_artifacts:
          path: artifacts

      - persist_to_workspace:
          root: ./
          paths:
            - artifacts/
            - node_modules/

  deploy:
    docker:
      - image: circleci/node:chakracore-8.10.0
    working_directory: ~/repo
    steps:
      - checkout

      - attach_workspace:
          at: ./

      - restore_cache:
          keys:
            - deps-v1-{{ checksum "yarn.lock" }}

      - run:
          name: Deploy Production
          command: BASE_PATH="/dev/" SLACK_SUBDOMAIN="tophat-opensource" yarn serverless deploy

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
